[submodule "libxml2/source"]
	path = libxml2/source
	url = https://github.com/dsleep/libxml2.git
[submodule "libiconv/source"]
	path = libiconv/source
	url = https://github.com/dsleep/libiconv.git
[submodule "ceres/source"]
	path = ceres/source
	url = https://github.com/dsleep/ceres-solver.git
[submodule "glog/source"]
	path = glog/source
	url = https://github.com/dsleep/glog.git
[submodule "suitesparse/source"]
	path = suitesparse/source
	url = https://github.com/dsleep/suitesparse-metis-for-windows.git
[submodule "eigen/source"]
	path = eigen/source
	url = https://github.com/dsleep/eigen-git-mirror.git
[submodule "opencv/source"]
	path = opencv/source
	url = https://github.com/dsleep/opencv.git
[submodule "gflags/source"]
	path = gflags/source
	url = https://github.com/dsleep/gflags.git
[submodule "libjpeg-turbo/source"]
	path = libjpeg-turbo/source
	url = https://github.com/dsleep/libjpeg-turbo.git
[submodule "hdf5/source"]
	path = hdf5/source
	url = https://github.com/dsleep/hdf5.git
[submodule "pcl/source"]
	path = pcl/source
	url = https://github.com/dsleep/pcl.git
[submodule "VTK/source"]
	path = VTK/source
	url = https://github.com/dsleep/VTK.git
[submodule "flann/source"]
	path = flann/source
	url = https://github.com/dsleep/flann.git
[submodule "qhull/source"]
	path = qhull/source
	url = https://github.com/dsleep/qhull.git
[submodule "pkgconf/source"]
	path = pkgconf/source
	url = https://github.com/dsleep/pkgconf.git
[submodule "googletest/source"]
	path = googletest/source
	url = https://github.com/dsleep/googletest.git
[submodule "lz4/source"]
	path = lz4/source
	url = https://github.com/dsleep/lz4.git
